{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block content %}
<div class="product">
    <div class="container">
        <div class="row">
            {% for i in all_product %}
                <div class="col-lg-3">
                    <a href="{% url 'productdetails' i.id %}" class="text-decoration-none text-dark">
                        <div class="item my-5" data-aos="flip-right">
                        <div class="card">
                            <img src="/media/{{i.image}}" class="card-img-top" alt="..." style="height: 20rem;">
                            <div class="button d-flex justify-content-center gap-3">
                                <form action="{% url 'addtocart' i.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning text-dark py-2">Add to Cart</button>
                                    </form>
                                    <form action="{% url 'add_wishlist' i.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning text-dark px-4 py-2">Wishlist</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <p class="py-0">Free Delivery</p>
                                <h5 class="card-title">{{i.product_name | truncatechars:20}}</h5>
                                <p class="py-0 my-0 text-info">${{i.brand}}</p>
                                <h5>${{i.discount_price}} <small class="mx-2 text-decoration-line-through text-secondary">{{i.selling_price}}</small></h5>
                            </div>
                        </div>
                        </div>
                    </a> 
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}